
*{
    border: 1px solid grey;
}
body{

    width: 100%;
}
#page{
    margin: 20px;
    border: 1px solid grey;
    border-color:grey;
}
#logo{
    
    margin-top: 5px;
    display: inline-block;
}
#nav{
    
    display: inline-block;
    text-align: right;
    float: right;
}

#content{
    margin: 30px 0;
    padding: 20px;
    clear: both;
}
#footer{
    border-bottom: 1px #ccc solid;
    margin-bottom: 10px;
}
